{% extends 'shopp/basic.html' %}

{% block title %} about {% endblock %}

{% block body %}


<div class="container-fluid my-4">
    <div class="row">
        <div class="col-lg-6 offset-lg-2">

            <!-- THE CONTACT FORM IS HERE -->
                <h2>Contact Us</h2><br>
                <form action="/contact/" method='post'><input type="hidden" name="csrfmiddlewaretoken" value="XjUATtaSiZaZbF2RElEZI6OKsOG282G9VcKPwacDDyS3kCwzvT2AWWxmJaphsdsv">
                    <div class="form-group">
                        <label for="name">Your Name</label>
                        <input type="name" class="form-control" id="name" placeholder="Enter your Name" name="name">
                    </div>
                    <div class="form-group">
                        <label for="email">Your Email</label>
                        <input type="email" class="form-control" id="cemail" placeholder="Enter your Email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="phone">Your Phone Number (with country code)</label>
                        <input type="text" class="form-control" id="phone" placeholder="Enter your Phone Number"
                            name="phone">
                    </div>
                    <div class="form-group">
                        <label for="description">Describe what you want to contact me for here</label>
                        <textarea type="text" class="form-control" id="message" placeholder="Your message" name="message"></textarea>
                    </div>
                    <div class="g-recaptcha" data-sitekey="6LdvcqwUAAAAACmPYNVoiJA7D84xLSQQt5g9p10m"></div>
                    <button type="submit" class="btn btn-success mt-2">Submit</button>
                </form>

        </div>
        <hr>





{% endblock %}